// colors

$main-text: #f5f4ed; // main text
$link: #44dce8; // anchor tags
$background: #2ed7ef; // background color

// fonts 

$primary-font: 'Bitter', sans-serif;
$secondary-font: 'Open Sans', sans-serif;