@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&subset=latin-ext');
@import url("#{$font_path}/font-awesome.min.css");
