//footer-section start
.footer-section{
  background: url(#{$image_path}/footer.png)no-repeat;
  padding: 72px 0px;
  position: relative;
  margin: 0px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  content: "";
  color: $primary_color;
}
.single-contact{
  padding: 30px 0px;
   font-family: $font-family-robt;
   font-size: 14px;
  font-weight: 400;
 }
.single-contact i{
  float: left;
  font-size: 30px;
  margin-right: 20px;
}

.single-contact .address{
margin-left: 37px;
  padding-right: 5px;
}
.sender{
  margin: 30px 0px;

}
.sender .form{
 float: left;
  margin-right: 15px;


}
.sender input[type="text"]{
  background-color: $transparent !important;
  color: $primary_color;
}

.sender .icon i{
  background-color: $secondary_border-color;
  padding: 7px 40px;
  font-size: 28px;
  color:$primary_2nd_color ;
}

.sender .icon i:hover{
  background-color: $primary_color;
  padding: 7px 40px;
  font-size: 28px;
  color:$secondary_color ;
}
.social_icon i{

   font-size: 15px;
   border-radius: 50%;
   border: 1px solid $primary_color;
   margin-right: 10px;
   text-align: center;
   padding: 10px;
 }
.social_icon i:hover{
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid $primary_color;
  background-color: $primary_color;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  color: $secondary_color;
}


.copywrite{
margin-top: 15px;

}
.copywrite h4{
  font-family: $font-family-robt;
  font-weight: 700;
  font-size: 14px;
  float: left;
 margin-left: 20px;
}

.copywrite p{
   font-family: $font-family-robt;
   font-weight: 700;
   font-size: 14px;
   float: right;
   margin-right: 20px;

 }

.copywrite p>a{
  font-family: $font-family-robt;
  font-weight: 700;
  font-size: 14px;
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: $secondary_color;
  margin-left: 15px;

}