
//story section start
#stroy-section{
  background-color: $primary_color;
  position: relative;
  padding: 70px 0px;
  margin: 0px 0px;
  min-height:100%;
  min-width: 100%;
  content: "";
}

.story h2{
  font-size: 22px;
  font-family: $font-family-robt;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.story p{
  text-decoration: none;
  font-size: 14px;
  font-family: $font-family-roboto;
  font-weight: 400;
  text-transform: none;
  margin: 30px 0px;
  line-height: 2em;
  word-spacing: 2px;
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-story{
  color: $secondary_color;
  background-color: $transparent;
  border-color: $secondary_color;
  outline: none;
  margin: 16px 0px;
  border-radius: 1px;
  font-family: $font-family-hammersmmit;
  font-size: 16px;
  font-weight: 400;
}

.btn.btn-story:hover,
.btn.btn-story:focus{

  color: $secondary_color;
  background-color: $secondary_hover;
  border-color: $secondary_hover;
}

  //video section start
#video_section{
  background: url(#{$image_path}/video.png)no-repeat;
  padding: 200px 0px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  content: "";
}

#hide {
  display: none;
}
.video_play h3{
 text-align: center;
  font-size: 16px;
  font-family: $font-family-robt;
  font-weight: 700;
  margin-top: 35px;
  color: $primary_color;

}
.playbtn {
  text-align: center;
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid $primary_color;
  background-color: $transparent;
  color: $primary_color;

}

.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align : center;
  -moz-box-align    : center;
  -ms-flex-align    : center;
  -webkit-align-items : center;
  align-items : center ;
  justify-content : center;
  -webkit-justify-content : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
}

//expertise section start
#experties-section{
  padding: 70px 0px;
  position: relative;
  content: "";
  background-color: $primary_color;
  min-width: 100%;
  min-height: 100%;
}


.exp_head{
  text-align: center;
}
.exp_head h2{
  text-align: center;
  font-size: 22px;
  font-family: $font-family-playfairedispaly;
  font-weight: 700;
  color: $primary_2nd_color;
}
.exp_head p{
  text-align: center;
  font-size: 14px;
  font-family: $font-family-playfairedispaly;
  font-weight: 400;
  color: $primary_2nd_color;
  margin: 20px 0px;
  line-height: 2em;
  word-spacing: 3px;
}
.exp_head .border{
  margin: 0 auto;
  width: 5%;
  border: 2px solid $secondary_fild-color;
  font-weight: 300;
}

.single_expertise{
  margin-top: 50px;
  padding: 40px 30px;
  text-align: center;
  border: 2px solid $secondary_color;

}
.single_expertise i{
  font-size: 60px;
  color: #01dfd0;

}


.single_expertise h2{
  font-size: 14px;
  font-family: $font-family-robt;
  font-weight: 900;

}

.single_expertise p{
  font-size: 14px;
  font-family: $font-family-robt;
  font-weight: 400;

}

.single_expertise:hover{
  margin-top: 50px;
  padding: 40px 30px;
  text-align: center;
  background-color: $secondary_hover;
  color: $primary_color;

}

//team section start
#team-section{
  background: url(#{$image_path}/video.png)no-repeat;
  padding: 72px 0px;
  position: relative;
  margin: 0px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  content: "";
  overflow: hidden;
}

.team_head{
  text-align: center;
  color: $primary_color;
}
.team_head h2{
  text-align: center;
  font-size: 22px;
  font-family: $font-family-playfairedispaly;
  font-weight: 700;
  color: $primary_color;
  word-spacing: 5px;
}
.team_head p{
  margin: 25px 0px;
  text-align: center;
  font-size: 14px;
  font-family: $font-family-playfairedispaly;
  font-weight: 400;
  color: $primary_color;
}

.single-team{
  margin: 60px 0px;
  font-family: $font-family-robt;
  border: 1px solid $secondary_fild-color;

}
.single-team img{
  margin: 0 auto;
  width: 100%;
}
.single-team .info{
  margin: 20px 0px;
  text-align: center;

}


.single-team .info h3{
 color: $primary_color;
}

.single-team .info h4{
  color:$secondary_h4;
}
.team_head .border-team{
  margin: 0 auto;
  width: 5%;
  border: 2px solid $secondary_fild-color;
  font-weight: 300;
}
//work section start
#works-section{
  padding: 70px 0px;
  position: relative;
  content: "";
  background-color: $primary_color;
  min-width: 100%;
  min-height: 100%;

}
.work-head{
  margin: 0px 330px;

}
.work-head h2{
  font-size: 22px;
  font-family: $font-family-playfairedispaly;
  font-weight: 900;
  color: $primary_2nd_color;

}
.works-section .row{
  margin-right: -7px;
}


.works-section .list-group .list-group-item{

  position: relative;
  display: block;
  /* padding: 10px 15px; */
  margin-bottom: -20px;
  margin-right: -60px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0px 0px;
  margin-bottom: -1px;
  background-color: #fff;
  border: none;
}

.work-head .right{
  text-align: right;

}

.work-head .right p{
  font-size: 14px;
  font-family: $font-family-robt;
  font-weight: 400;
  color: $primary_2nd_color;

  margin-top: -40px;

}

.work-head .right p>i {

  margin-left:25px;
  font-size: 20px;


}


* {
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 30px 0px;

}


.works-section .gallery h2
{
  font-size: 22px;

  font-family: $font-family-playfairedispaly;
  font-weight: 900;
  color: $primary_2nd_color;
  text-align: center;
  margin-bottom: 70px;
}

.works-section .filter-button
{
  font-size: 18px;
  border: 1px solid $secondary_color;

  text-align: center;
  color: $secondary_color;
  margin-bottom: 30px;
  margin-left: 5px;

}
.works-section .filter-button:hover .filter-button:link
{
  font-size: 18px;
  border: 1px solid $secondary_color;

  text-align: center;
  color: $primary_color;
  background-color: $secondary_color;

}
.works-section .btn-default:active .filter-button:active
{
  background-color: $secondary_color;
  color: white;
  border: 1px solid $secondary_color;
}

.works-section .port-image
{
  width: 100%;
}

.works-section .gallery_product
{
  margin-bottom: 30px;
}





.more-btn{

  text-align: center;
}

//testimonial-section start
.testimonial-section{
  background: url(#{$image_path}/test_bg.png)no-repeat;
  padding: 72px 0px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  content: "";
}
.single_tset{
  text-align: center;
  color: $primary_color;
}

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
  background: none;
  color: $primary_color;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 250px;
}
#quote-carousel .carousel-control.left {
  left: 100px;
}
#quote-carousel .carousel-control.right {
  right: 100px;
}
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;

  cursor: pointer;
  border: 4px solid $primary_color;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
  margin-top: 60px;
}

#quote-carousel .carousel-indicators .active {
  background: $transparent;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-color: $secondary_color;
  opacity: 1;
  overflow: hidden;
  margin-top: 150px;
}
.carousel-inner {
  min-height: 300px;
}

.item blockquote p{
  margin: 50px 0px;
  font-size: 14px;
  font-family: $font-family-robt;
  font-weight: 400;
  color: $primary_color;
}
.item h3{
  font-size: 14px;
  font-family: $font-family-robt;
  font-weight: 400;
  color: $primary_color;
}
.item h4{
  font-size: 13px;
  font-family: $font-family-robt;
  font-weight: 400;
  color: $primary_color;

}
.item blockquote {
  border-left: none;
  margin: 0px;


}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

//contact section star

#contact-section{
  padding: 70px 0px;
  position: relative;
  content: "";
  background-color: $primary_color;
  min-width: 100%;
  min-height: 100%;
}



.contact-section h2{

  font-size: 22px;
  font-family: $font-family-playfairedispaly;
  font-weight: 900;
  word-spacing: 5px;
}

.single-logo{

  margin-left: 40px;
}

.single-logo .business-logo{
  margin-top: 45px;
}


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid $secondary_border-color;
  background:$primary_color;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid $secondary_border-color;
}

#contact textarea {
  height:150px;
  max-width:100%;
  resize:none;
  margin-bottom: 20px;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:40%;
  border:none;
  background:$secondary_color;
  color:$primary_color;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:$secondary_hover;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px $submit_bg; }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid $secondary_border-color;
}
::-webkit-input-placeholder {
  color:$secondary_fild-color;
}
:-moz-placeholder {
  color:$secondary_fild-color;
}
::-moz-placeholder {
  color:$secondary_fild-color;
}
:-ms-input-placeholder {
  color:$secondary_fild-color;
}

