body {
  height: 100%
}

.navbar-default {
  padding: 3px 0px;
  background-color: $secondary_hover;
  border-color: $transparent;
}

.navbar-default .navbar-nav > li > a:link {
  /* color: #07cec3; */
  text-align: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $primary_color;
  background-color: $transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $primary_color;
  background-color: $secondary_color;
  font-family: $font-family-roboto;
  font-size: $font_size_anchr;
  font-weight: $font_weight_anchr;
}


.navbar-default .navbar-nav > li{

 margin-left: 24px;

}

.navbar-default .navbar-nav > li > a {
  font-family: $font-family-roboto;
   color: $primary_color;
  font-size: $font_size_anchr;
  font-weight: $font_weight_anchr;
  text-align: center;
 }

.navbar-header a>img{

  margin-top: -16px;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $transparent;
}

.navbar-collapse{
  border: transparent;
  opacity: 0.99;

}

.navbar-default .navbar-toggle {
  border-color: $secondary_color;
}

.navbar-default .navbar-toggle:hover {
  border-color: $secondary_color;
}


.navbar-toggle, .icon-bar {
  border:1px solid $secondary_color;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  margin-left: 30px;
  text-align: center;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $transparent;
  border:1px solid $secondary_color;
}

#header-section{
  background: url(#{$image_path}/header.png) no-repeat;
  background-size: cover;
  min-height:100%;
  min-width: 100%;
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
  padding: 70px 0px;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0px 2px;
  background-color: $secondary_color;
  border-color: $secondary_color;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 3;
  color: $primary_color;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 6em;
  font-family: $font-family-playfairedispaly;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.hero h3 {
  font-size: 20px;
  font-family: $font-family-roboto;
  font-weight: 700;

}
.hero p{
  text-decoration: none;
  font-size: 14px;
  font-family: $font-family-roboto;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
  word-spacing: 3px;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero
 {
  color: $secondary_color;
  background-color: $transparent;
  border-color: $secondary_color;
  outline: none;
  margin: 16px 16px;
  border-radius: 1px;
  font-family: $font-family-hammersmmit;
  font-size: 16px;
  font-weight: 400;
}

.btn.btn-hero:hover,
.btn.btn-hero:focus{
  color: $secondary_color;
  background-color: $primary_color;
  border-color: $transparent;
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
  .hero { width: 980px; }
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }
}



